@use '../styles/fonts' as *;


.hambuger {
  .hamBtn {
    position: fixed;
    top: 1.5vh;
    right: 0;
    width: 3vw;
    height: 3vw;
    background-color: #FF5912;
    border-radius: 0.52vw 0 0 0.52vw;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.38vw;
    cursor: pointer;
    z-index: 9999;
    transition: transform 0.35s ease-in-out;
  
    span {
      display: block;
      width: 1.4vw;
      height: 0.18vw;
      background-color: #191718;
      transition: transform 0.25s ease, opacity 0.25s ease;
    }
  }
  
  .hamBtn__open {
    // 패널이 완전히 나왔을 때 버튼도 패널 폭(50vw)만큼 같이 왼쪽으로 이동
    transform: translateX(-24.9vw);
  
    span:nth-child(1) {
      transform: translate(0.35vw,0.18vh) rotate(45deg);
      background-color: #fff;
    }
  
    span:nth-child(2) {
      background-color: #fff;
    } 
  
    span:nth-child(3) {
      transform: translate(0.35vw,-0.18vh) rotate(-45deg);
      background-color: #fff;
    }
  }
  
  .hamPanel {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 98.5vh;
    width: 25vw;
    background-color: #FF5912;
    color: #ffffff;
    transform: translateX(100%);
    transition: transform 0.35s ease-in-out;
  }
  
  // 햄버거 버튼/섹션 호버 시 버튼과 패널이 함께 살짝 들어오게
  .hamBtn:not(.hamBtn__open):hover {
    transform: translateX(-2.45vw);
  }
  
  .hamBtn:not(.hamBtn__open):hover + .hamPanel {
    // 100%에서 90%로 살짝만 들어오도록 (보이는 폭 조절 가능)
    transform: translateX(90%);
  }

  // 섹션(.hambuger) 전체에 마우스를 올려도 동일한 호버 효과 적용
  &:hover {
    .hamBtn:not(.hamBtn__open) {
      transform: translateX(-2.45vw);
    }

    .hamPanel:not(.hamPanel__open) {
      transform: translateX(90%);
    }
  }
  
  .hamPanel__open {
    transform: translateX(0);
  }
  
  .hamPanel-menu {
    display: flex;
    flex-direction: column;
    gap: 6vh;
    margin-top: 38vh;
  }
  
  .hamPanel-item {
    @include unbounded-semibold;
    font-size: 2.17vw;
    color: #ffffff;
    text-decoration: none;
    margin-left: 5vw;
    transition: transform 0.2s ease, opacity 0.2s ease;
  
    &:hover {
      transform: translateX(-0.2rem);
      opacity: 0.85;
    }
  }
}




