*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: auto; /* GSAP이 스크롤을 제어하므로 auto로 설정 */
  margin: 0;
  padding: 0;
  background-color: #191718;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #191718;
  height: 100%;
  overflow-y: auto; /* body에서 스크롤 발생 */
}

#root {
  margin: 0;
  padding: 0;
  background-color: #191718;
}